title = "Password reset"
url = "/forgot"
layout = "auth"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[resetPassword]
paramCode = "code"
==
{% if not user %}
{% if resetPassword.code == null %}
{% partial 'solo/auth/shell' heading='Reset your password' desc='Enter the email address of your account and we will send you a link to choose a new password.' form='solo/auth/restore' %}
{% else %}
{% partial 'solo/auth/shell' heading='Choose a new password' desc='Please check your email for the reset code, then choose a new password.' form='solo/auth/reset' %}
{% endif %}
{% else %}
{% partial 'solo/auth/shell' heading='You are already signed in' form='solo/auth/signed-in' %}
{% endif %}
