url = "/solos-impact-assessment-framework/:id?|[a-zA-Z\-0-9]"
layout = "default"
title = "SOLO’S IMPACT ASSESSMENT FRAMEWORK"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

[jumbotron intro]
jumbotron = "solos-impact-assessment-framework"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron description]
jumbotron = "kpi-items-description"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Impact\Models\Sheet;
use Pensoft\Impact\Models\Group;
use System\Models\File;

function onStart()
{
    $this['groups'] = Group::get();
    $group = Group::where('slug', $this->param('id'))->first();
    $this['is_detail_page'] = $group ? true : false;

    if($this['is_detail_page']){
        $this['group'] = Group::where('slug', $this->param('id'))->first();
        $groupId = $group['id'];

        $this['sheets'] = Sheet::whereHas('group', function ($query) use ($groupId) {
            $query->where('group_id', $groupId);
        })->get();


        if(get('download')){
            $file = File::find((int)get('download'));
            $file_name = $file->getLocalPath();

            $ext= $file->getExtension();
            $recordName = get('file_name') ? get('file_name') : 'SOLO_logo.'.$ext;

            if (file_exists($file_name)) {
                header('Content-Description: File Transfer');
                header('Content-Type: application/octet-stream');
                header("Content-Type: application/force-download");
                header('Content-Disposition: atntachment; filename='.$recordName);
                header('Content-Transfer-Encoding: binary');
                header('Expires: 0');
                header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
                header('Pragma: public');
                header('Content-Length: ' . filesize($file_name));
                ob_clean();
                flush();
                readfile($file_name);
                exit();
            }
            return Redirect::to('/solos-impact-assessment-framework');
        }


    }






}
?>
==
{% component 'siteSearchInclude' %}

{% if is_detail_page %}

<div class="container">
    <nav class="row" aria-label="Breadcrumb">
        <div class="col-xs-12 go-back-link">
            <a href="/solos-impact-assessment-framework" class="back">Back</a>
        </div>
    </nav>
    <section class="row" aria-label="KPI details">

        <h1 class="kpi_group_title">{{group.title}}</h1>
        {% for record in sheets %}
        <article class="col-md-6 col-xs-12">
            <div class="kpi_record">
                <div class="row">
                    <div class="col-xs-12"><span class="kpi_record_label">{{record.label}}</span></div>
                    <div class="col-xs-12"><h2 class="kpi_record_title">{{record.title}}</h2></div>
                    <div class="col-md-4 col-xs-12">
                        <img src="{{record.cover.path}}" class="kpi_record_image" alt="{{record.title}}">
                        <a href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.file.file_name|replace({' ': '_'})}}" class="download" target="_blank" rel="noopener" download aria-label="Download {{record.title}} PDF">
                            Download pdf
                            <i class="pr normal p-download" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-8 col-xs-12"><div class="kpi_record_desc">{{record.description|raw}}</div></div>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
</div>

{% else %}

<div class="container">
    <section class="kpi_intro" aria-label="Introduction">
        {% component 'intro' %}
    </section>
</div>

<section class="container kpi_items" aria-label="Impact assessment framework">
    <div class="row">
        <div class="col-xs-12 kpi_items_intro">
            <p>The assessment framework allows for the evaluation of 5 types of impact of Mission Soil Research and Innovation (R&I) activities. Each type of impact is assessed by a number of KPIs.</p>
            <p>Detailed KPI sheets can be found in the categories below.</p>
        </div>
    </div>
    <div class="row">
        {% for group in groups %}
        <article class="col-md col-xs-12">
            <a class="kpi_item" href="/solos-impact-assessment-framework/{{group.slug}}" aria-label="View {{group.title}} KPIs">
                <div class="group_title_and_icon">
                    <div class="group_icon" style="background: #D6CBC8 url({{group.cover.path}}) center no-repeat; background-size: 70% 60%;" role="img" aria-label="{{group.title}} icon">&nbsp;</div>
                    <h2>{{group.title}}</h2>
                </div>
                <div class="group_desc">
                    {{group.description|raw}}
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</section>

<section class="container kpi_description" aria-label="Additional information">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="{{ 'image.jpg' | media}}" alt="Impact assessment framework illustration">
        </div>
        <div class="col-md-8 col-xs-12">{% component 'description' %}</div>
    </div>
</section>

{% endif %}
